.text-center {
	font-family: 'Segoe UI', 'Lato', inherit;
	weight: 300;
}

.book {
	margin: 2em 0;
	height: 200px;
}

.centered {
	margin: 0 auto;
}

.pull-bottom {
	vertical-align: bottom;
}

.img-responsive {
	max-height: 100%;
	max-width: 100%;
	height: 100%;
}